.employeeDetail {
  /* display: block;*/
   padding-top: 270px;
   width: 40%;
   margin: 0 auto;  /* to bring content center*/
   
}

.employeeDetail label{
   padding-left: 0px;
   font-weight: bold;
}


.department select{
   border: 1px solid black;
}
.reportingto select{
   border: 1px solid black;
}

