.employeeDetail {
    padding-top: 280px;
    padding-left: 80px;
   width: 45%;
   margin: 0 auto;
    
}
.firstname{
   text-align: center;
}
.dateofbirth{
   padding-top: 5px;
   }
   .dateofbirth{
      padding-top: 5px;
   }
  