.profile {
    margin-top: 70px;
}

.profileheading {
    text-align: center;
}

.profilelist {

    margin-top: 20px;
   /* margin-left: 100px;*/
   display: flex;
   align-items: center;
   justify-content: center;
    /* margin-left: 475px;*/
}

/*.rowprofile row{
    display: flex;
    align-items: center;
    justify-content: center;
       margin-left : 95px;
    margin-top: 20px;
   
    
}*/

.rowprofile{

}

.col-sm-4 {
   /* text-align: left;*/
    /*min-width: 120px;*/
    /*max-width: 1%;*/
}

.col-sm-1 {
   /* text-align: left;*/
    /*max-width: 40%;*/
}

.col-sm-7 {
    /*text-align: left;*/
    /*max-width: 30%;*/
}


.techmap {
    margin-left: -20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* column-count: 3;  
    column-gap: 8em;*/
    /*these code will also work*/

}