.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* height: 100vh;*/
    background-color: #faf9f6;
    width:100%
  }
 
  .table-wrapper {
    border-top: 0.5px solid #ddd;
    overflow : hidden;
    text-overflow: ellipsis;
  }


  .table-wrapper  tbody tr:hover{
    background-color: #eee;
  }

  .actions{
    display: flex;
    justify-content: space-around;
}

.actions svg{
    cursor : pointer;
}

.delete-btn{
    color: #e10d05;
    background-color: yellow;
    margin-right: 15px;
    margin-left: 5px;
}
.edit-btn{
  margin-left: 25px;
 
}

.search{
  padding-top: 280px;
  width: 25%;
  margin: 0 auto;
}
.radioandbutton,.findbutton{
 
  display: inline;
}
.employeetable{
  padding-top: 20px;
 
}
th,td{
  text-align: center;
  vertical-align: middle;
}
